*{
    margin: 0px;
    padding: 0px;
}
.icon-bar{
    background-color: black;
}
.btn3{
    background-color: white;
    color:  black;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 70px;
    border: none;
    font-size: 17px;
}
.a1{
    color: black;
    text-decoration: none;
}
.div1{
    width: 100%;
    height: 70px;
    background-color: rgba(240, 238, 234, 0.74);
    margin-top: -20px;
}
.div2{
    text-align: center;
    margin-top: 30px;
}
.btn2{
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 70px;
    font-size: 17px;
}
.nav3{
    background-color: white;
    position: sticky;
    padding: 5px;
    padding-bottom: 15px;
    padding-top: 20px;
    border: none;
}
.img-list{
    width: 100%;
    height: 650px;
    display: grid;
    gap: 10px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10,1fr);
    margin-top: 100px;
}
.img-list::-webkit-scrollbar{
    display: none;
}
.img-item{
    width: 470px;
    height: 500px;
    margin-bottom: 50px;
    margin-left: -5px;
    object-fit: cover;    
}
.container{
    width: 1450px;
    margin-left: 45px;
    margin-top: 80px;
    margin-bottom: 100px;
}
.image-list{
    width: 100%;
    height: 620px;
    display: grid;
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10,1fr);
    margin-top: 100px;
}
.image-item{
    width: 470px;
    height: 530px;
    margin-bottom: 10px;
    object-fit: cover;    
}
.slider-wapper{
    position: relative;
}
.slider-button1{
    position: absolute;
    color: black;
    border: none;
    outline: none;
    background: rgb(221, 221, 221);
    font-size: 2.3rem;
    cursor: pointer;
    border-radius: 30px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 2px;
    margin-left: 5%;
    transform: translateY(-50%);
    margin-top: 50px;
}
.slider-button2{
    position: absolute;
    color: black;
    border: none;
    outline: none;
    background: rgb(221, 221, 221);
    font-size: 2.3rem;
    cursor: pointer;
    border-radius: 30px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 2px;
    margin-left: 12%;
    transform: translateY(-50%);
    margin-top: 50px;
}
.slider-button1:hover{
    background-color: rgb(161, 155, 155);
}
.slider-button2:hover{
    background-color: rgb(161, 155, 155);
}
.heading{
    position: absolute;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 50%;
    font-weight: bold;
}
.heading2{
    position: absolute;
    font-size: 25px;
    margin-top: -60px;
    margin-left: 50%;
    font-weight: bold;
}
.container{
    width: 1450px;
    margin-left: 45px;
    margin-top: 80px;
    margin-bottom: 60px;
}
.image-list2{
    width: 100%;
    height: 650px;
    display: grid;
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10,1fr);
    margin-top: 100px;
}
.image-item2{
    width: 440px;
    height: 480px;
    margin-bottom: 10px;
    object-fit: cover;    
}
.heading2{
    position: absolute;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 72%;
}
.slider-button3{
    position: absolute;
    color: black;
    border: none;
    outline: none;
    background: rgb(221, 221, 221);
    font-size: 2.3rem;
    cursor: pointer;
    border-radius: 30px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 2px;
    margin-left: 5%;
    transform: translateY(-50%);
    margin-top: 50px;
}
.slider-button4{
    position: absolute;
    color: black;
    border: none;
    outline: none;
    background: rgb(221, 221, 221);
    font-size: 2.3rem;
    cursor: pointer;
    border-radius: 30px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 2px;
    margin-left: 12%;
    transform: translateY(-50%);
    margin-top: 50px;
}
.slider-button3:hover{
    background-color: rgb(161, 155, 155);
}
.slider-button4:hover{
    background-color: rgb(161, 155, 155);
}
.col-sm-3{
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.a5{
    color: rgb(106, 103, 103);
    font-size: 16px;

}
.a5:hover{
    color: black;
    text-decoration: none;
}
.a5:visited{
    color: rgb(106, 103, 103);
    text-decoration: none;
}
.a6{
    color: rgb(106, 103, 103);
    font-size: 16px;

}
.a6:hover{
    color: black;
    text-decoration: none;
}
.a6:visited{
    color: rgb(106, 103, 103);
    text-decoration: none;
}
hr{
    background-color: rgb(149, 142, 142);
    width: 100%;
    height: 1px;
    margin-top: 50px;
}
.div-hr{
    width: 100%;
}
.i2{
    position: absolute;
    margin-top: -1px;
}
.a4{
    color: rgb(106, 103, 103);
    font-size: 16px;

}
.a4:hover{
    color: black;
    text-decoration: none;
}
.a4:visited{
    color: rgb(106, 103, 103);
    text-decoration: none;
}
.btn-a{
    color: white;
    text-decoration: none;
}
.btn-a:hover{
    color: white;
    text-decoration: none;
}

.div-footer{
    position: relative; 
    width: 100%;
    font-size: 15px; 
    display: flex; 
    margin-top: 10px;
}
.div-seco-footer{
    width: 100%;
    margin-top: 70px;
}